body {
    margin: 0px;
    padding: 0px;

    
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .3px;
    color: black;
    background-color: white;
}

h1,h2,h3 {
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
}

nav, footer {
    font-family: 'Cuprum', sans-serif;
}

img {
   max-width: 100%;
   height: auto;
}

.h2-title {
    font-size: 32px;
}

/* 
font-family: 'PT Sans', sans-serif; */

.top-menu-wrapper {
    background-color: #32425C;
}

.main-menu {
    margin: 0px;
    padding: 0px;
    background-color: #edf3f5;
}

/* Стили первого уровня меню additional-navigation*/
.additional-navigation {
    display: flex;
    width: 940px;
    justify-content: space-between;

    height: 42px;
    margin: 0px;
    padding: 0px;
    margin: auto;

    list-style: none;
}

.main-logo img {
    height: 47px;
}

.main-logo:hover {
    opacity: 0.9;
}

.main-logo:active {
    opacity: 0.8;
}

.main-logo:not([href]):hover {
    opacity: 1;
}

.main-logo:not([href]):active {
    opacity: 1;
}

.add-nav-wrap {
    margin: 0px;
    padding: 0px;

    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0px;
    padding: 0px;

    text-decoration: none;
    color: white;
}

.site-navigation .nav-link {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 16px;
}


.nav-link:hover {
    background-color: #293449;
}

.nav-link:active {
    background-color: #1b2332;
    color: rgba(255, 255, 255, 0.56);
}

.nav-link img {
    padding-right: 12px;
    opacity: .32;
}

.nav-link-user img {
    opacity: 1;
}

.cart-icon, .bookmark-order {
    padding-left: 24px;
    padding-right: 24px;
    display: inline-block;
    line-height: 42px;
}

.bookmark-order {
    padding-left: 24px;
    padding-right: 24px;
    display: inline-block;
    line-height: 42px;
}

.quick-order {
    display: flex;
    margin: 0px;
    padding: 0px;

    line-height: 42px;

    padding-left: 24px;
    padding-right: 24px;
    background-color: #63A63E;

    user-select: none;
}

.quick-order:hover {
    background-color: #518534;
}

.quick-order:active {
    background-color: #386B1B;
}

.search-field {
    margin: 0px;
    padding: 0px;
    border: 0px;

    height: 42px;
    width: 240px;
    
    padding-left: 40px;
    padding-right: 12px;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity: .64;

    background-color: #32425C;
    background-image: url('img/search-icn.svg');
    background-repeat: no-repeat;
    background-position: left 5% bottom 55%;;
}

.search-field:hover {
    background-color: #293449;
}

.search-field::placeholder {
    color: white;
    opacity: 1;
}

.search-field:focus {
    color: white;
    opacity: 1;
    background-color: #293449;
}

.search-field:not(:focus) {
    color: white;
    opacity: .64;
}



/* Стили среднего блока */
.middle-navigation {
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;

    padding-top: 48px;
    padding-bottom: 40px;
}

.main-title {
    display: inline-block;
    box-sizing: border-box;
    width: 272px;
    margin: 0px;
    padding: 0px;

    padding-left: 56px;
    padding-right: 0px;

    color: #EE3643;
    font-size: inherit;
    line-height: 20px;
}

.contacts-short {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;

    color: #32425C;
    list-style: none;
}

.contacts-short img{
    padding-left: 16px;
}

.contacts-short span{
    padding-right: 24px;   
}

.phone-link {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 256px;
    border: 4px solid white;
    
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    color: black;
}

.phone-link:hover {
    background-color: white;
    color: #EE3643;
}

.phone-link:active {
   opacity: 0.8;
}

.address-xs {
    color: black;
    font-size:14px;
}

.user-navigation {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
}

.user-navigation a {
    margin: 0px;
    padding: 0px;
    display:flex;

    line-height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    color: black;
}

a.account-link {
   padding-right: 40px;
}

.user-navigation a:hover {
    background-color: #D9E3E8;
}

.user-navigation a:active {
    background-color: #D0DBE0;
    color: rgba(0,0,0,0.64);
}

.middle-navigation .user-link {
    margin-left: 12px;
    user-select: none;
}

.site-navigation-menu-wrapper {
    padding-bottom: 56px;
    margin-bottom: 56px;
}


/* Стили последнего блока меню */
.site-navigation {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    height: 56px;
    background-color: #32425C;
    box-shadow: inset 0 -5px 0 0 #293449;

    display: flex;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 56px;
    padding-right: 56px;
}

.site-navigation li {
    line-height: 52px;
    position: relative;
}

.active-menu {
    color: white;
    text-decoration: none;
}

.active-menu::before {
    content: "";
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;

    position: absolute;
    background-color: white;
    opacity: .88;
}


/* Стили блока промо -- техника, доставка, инструмент*/
.hero {
    margin:0px;
    padding: 0px;
    width: 940px;
    margin: auto;
}

.promo {
    margin: 0px;
    padding: 0px;

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
    margin-bottom: 56px;
}

.promo a {
    text-decoration-line: none;
    color: white;
}

.promo .item {
    width: 300px;
    height: 124px;
    list-style-type: none;
}

.title-promo {
    margin-bottom: 32px;
}


.first-promo-row, .second-promo-row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.first-promo-row {
    margin-bottom: 20px;
}

.first-promo-row a{
    display: inline-block;
    width: 100%;;
    height: 100%;
    padding-left: 24px;
    box-sizing: border-box;
}

/* Наведение материалы */
.first-promo-row .material:hover,
.slide-right-wrap .delivery:hover {
    background-color: #f6b636;
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.32);
}

.first-promo-row .material:active,
.slide-right-wrap .delivery:active {
    background-color: #DA9B1E;
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.32)
}

.first-promo-row .material:active .title-promo,
.slide-right-wrap .delivery:active .title-promo {
    opacity: 0.8;
}

/* Наведение инструменты */
.first-promo-row .tools:hover {
    background-color: #31B2D8;
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.32);
}

.first-promo-row .tools:active {
    background-color: #1887A8;
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.32)
}

.first-promo-row .tools:active .title-promo {
    opacity: 0.8;
}

/* Техника */
.first-promo-row .technic:hover {
    background-color: #D686D2;
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.32);
}

.first-promo-row .technic:active {
    background-color: #B05AAB;
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.32)
}

.first-promo-row .technic:active .title-promo {
    opacity: 0.8;
}

/* Наведение Техника */
.slide-right-wrap .sale:hover {
    background-color: #84CD85;
}

.slide-right-wrap .sale:active {
    background-color: #6CAE6D;
}

.slide-right-wrap .sale:active .title-promo {
    opacity: 0.8;
}

.tools {
    background-color: #3BBCE3;

    background-image: url('img/promo-icn/icon-2.svg');
    background-repeat: no-repeat;
    background-position: right 32px bottom 24px;
    background-size: 72px;

    box-sizing: border-box;
}

.technic {
    background-color: #DC91D8;
    
    background-image: url('img/promo-icn/icon-3.svg');
    background-repeat: no-repeat;
    background-position: right 32px bottom 24px;
    background-size: 72px;

    box-sizing: border-box;
}

a.sale {
    background-color: #8ED78F;
    
    background-image: url('img/promo-icn/icon-4.svg');
    background-repeat: no-repeat;
    background-position: right 32px bottom 24px;
    background-size: 64px;

    box-sizing: border-box;
}

.delivery {
    background-color: #FFC047;
    
    background-image: url('img/promo-icn/icon-5.svg');
    background-repeat: no-repeat;
    background-position: right 32px bottom 24px;
    background-size: 72px;

    box-sizing: border-box;
}

.material {
    background-color: #FFC047;
    
    background-image: url('img/promo-icn/icon-1.svg');
    background-repeat: no-repeat;
    background-position: right 32px bottom 24px;
    background-size: 48px;

    box-sizing: border-box;
}

.tag {
    padding: 0px;
    margin: 0px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;;
    text-transform: uppercase;
    /* border-radius: 2px; */
    font-size: 14px;
    letter-spacing: .80px;
}

.slide-img {
    margin: 0px;
    padding: 0px;
}

.tag-tools {
    background-color: #34A8CB;
}

.tag-technic {
    background-color: #C582C1;
}

.tag-sale {
    background-color: #7FC180;
}

.tag-delivery {
    background-color: #E5AC3F;
}
.slide-img {
    height: 266px;

    margin-bottom: 100px;
}



/* Стили блока промо -- главный слайд*/
.special {
    margin: 0px;
    padding: 0px;

    list-style-type: none;
    color: black;
    position: relative;
}

.slide-img {
    margin: 0px;
    padding: 0px;
    background-color: #32425C;
}

.title-slide-wrap {
    margin: 0px;
    padding: 0px;
    top: 24px;
    left: 24px;
    position: absolute;
}

.slide .slide-open {
    position: absolute;
    cursor: pointer;
    bottom: 24px;
    left: 24px;
}

.slide-left {
    position: absolute;
    z-index: 999;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:12px;
    padding-bottom:12px;
    right: 894px;
    top: 0px;
    width: 48px;
    height: 266px;

    background-image: url('img/left-icn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.slide-right {
    position: absolute;
    z-index: 999;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:12px;
    padding-bottom:12px;
    right: 320px;
    top: 0px;
    height: 266px;
    width: 48px;

    background-image: url('img/right-icn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.slide-right:hover,
.slide-left:hover {
   background-color: rgba(0,0,0,0.32);
}

.slide-right:hover, 
.slide-left:hover {
   background-color: rgba(0,0,0,0.32);
}

.title-slide {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.slide p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
}

.slide img {
    display: block
}

.slide-right-wrap {
    margin: 0px;
    padding: 0px;

    flex-basis: 300px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide-right-wrap a {
    display: inline-block;
    width: 100%;;
    height: 100%;
    padding-left: 24px;
    box-sizing: border-box;
}

.special img:hover {
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.40);
}

.special a:hover img{
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.40);
}

.special img:active {
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.56);
}

.special a:active img{
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.64);
}

.cta-main-rounded {
    margin: 0px;
    padding: 0px;
    display: inline-block;

    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;

    text-transform: uppercase;
    text-decoration: none;

    min-width: 80px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;

    background-color: #EE3643;
    border: none;

    text-align: center;

    cursor: pointer;
}

.cta-main-rounded:hover {
    background-color: #CA2C37;
}

.cta-main-rounded:active {
    background-color: brown;
    color:rgba(255,255,255, 0.8);
}

/* Заголовок популярные товары и производители */
.favourite-goods {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: auto;
    width: 940px;
}

.fav-title-wrapper {
    display: flex;
    width: 940px;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;

    background-color: #F9F5F0;

    margin-bottom: 24px;
}

.title-goods {
    font-weight: 400;
    color: #32425C;
    text-transform: uppercase;
}

/* Карточка товара */
.favourite-list {
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;

    list-style-type: none;

    margin-bottom: 56px;
}

/* Цена товара */
.prod-item {
    position: relative;
    display: flex;
    width: 220px;
    box-sizing: border-box;
    justify-content: space-between;
    
    padding-top:24px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;

    margin-right: 20px;

    border: 1px solid #D7D7D7;
}

.favourite-list .prod-item:nth-child(4n) {
    margin-right: 0px;
}

.favourite-list .prod-item:nth-child(4) + .prod-item {
  margin-top: 20px;
}

.actions {
    position: absolute;
    top:0px;
    left: 0px;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: rgba(255, 255, 255, 0.8);
}

.buy {
    margin-bottom: 16px;
}

.bookmark {
    background: none;
    color: #EE3643;
    box-shadow:inset 0px 0px 0px 2px #EE3643;
}

.bookmark:hover {
    color: white;
    box-shadow:inset 0px 0px 0px 2px #CA2C37;
}

.bookmark:active {
    color: white;
    box-sizing: border-box;
    box-shadow:inset 0px 0px 0px 2px brown;
}

.prod-item .actions {
    display: none;
}

.prod-item:hover .actions {
    display: flex;
}

.prod-item:hover {
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.32);
}

.card-image-wrap {
    display: flex;
    align-items: center;
    margin: auto;

    width: 156px;
    height: 140px;
    margin-bottom: 16px;
}

.goods-info > * > * {
    margin: 0px;
    padding: 0px;
}

.goods-info {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 148px;
    flex-wrap: wrap;
}

.product-tag-title {
    display: block;
    width: 100%;

    font-size: 14px;
    line-height: 20px;
    color: rgb(101, 101, 101);

    text-align: center;
}

.goods-title {
    display: block;
    width: 100%;

    text-align: center;
}

.price-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sale-price {
    display: block;
    width: 100%;

    text-align: center;
    font-size: 18px;
    color: #EE3643;

    text-decoration: line-through;
}

.price-tag {
    position: relative;

    margin: 0px;
    padding: 0px;

    line-height: 24px;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 12px;

    border: none;
    text-decoration-line: none;

    background-color: #64A53F;
}

.triangle.price-tag::after {
    content: "";
    position: absolute;
    right: -40px; 
    top: 0px;
    border: 20px solid transparent;
    border-left: 20px solid #64A53F;
}


/* Список производителей */
.producers {
    margin: 0px;
    padding: 0px;
    width: 940px;

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 56px;
}

.producers a {
    margin: 0px;
    padding: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 218px;
    height: 138px;
    border: 1px solid #D7D7D7;
}

.producers li{
    margin-bottom: 24px;
    margin-right: 20px;
}

/* Удаляем марджины в последнем ряду */
.producers li:nth-last-of-type(-n+4) { 
    margin-bottom: 0px;
}

.producers li:nth-child(4n) { 
    margin-right: 0px;
}

/* Преимущества */
.services {
    margin: 0px;
    padding: 0px;

    background-color: #EDF3F6;
    margin-bottom: 112px;
}

.services-wrapper {
    display: flex;
    width: 940px;

    flex-direction: column;
    margin: auto;
}


.slide-text p {
    padding: 0px;
    margin: 0px;
    
    padding-right: 230px;
}

.image-delivery::after {
    content: "";

    position: absolute;
    top: 24px;
    right: 16px;
    width: 428px;
    height: 201px;

    background-image: url('img/services/deliver.png');
    background-repeat: no-repeat;
    background-position: bottom -100px right 0px;
}

.image-warranty::after {
    content: "";

    position: absolute;
    top: 24px;
    right: 16px;
    width: 428px;
    height: 201px;

    background-image: url('img/services/quality.png');
    background-repeat: no-repeat;
    background-position: bottom -100px right 0px;
}

.image-credit::after {
    content: "";

    position: absolute;
    top: 24px;
    right: 16px;
    width: 428px;
    height: 201px;

    background-image: url('img/services/credit.png');
    background-repeat: no-repeat;
    background-position: bottom -100px right 0px;
}

.level-2-service-wrapper {
    display: flex;
    width: 940px;
    position: relative;

    justify-content: flex-start;

    margin-bottom: 96px;
    margin-top: 96px;
}

.h2-services, .services-title {
    margin: 0px;
    padding: 0px;

    font-size: 24px;
    margin-bottom: 16px;
}

.slide-list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    width: 240px;   
    margin-right: 88px;
}

.slide-list::after {
    content: "";
    position: absolute;

    top: -52px;
    left: 252px;
    width: 10px;
    height: 280px;

    background-image: url('img/shadow-line.png');
}

.slide-text {
    width: 700px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.slide-text li {
    margin: 0px;
    padding: 0px;
}

.slide-list .item {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 56px;
    box-sizing: border-box;
    padding-left: 24px;
    background-color: #32425C;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;

    background: #32425C;
}

.slide-list a {
    margin: 0px;
    padding: 0px;

    text-decoration: none;
    color: white;
    padding: 16px;
    line-height: 56px;    
}

.hover-benefit:hover {
    background-color: #293449;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #293449;
}

.hover-benefit:active {
    background-color: #1b2332;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #293449;

    color: rgba(255, 255, 255, 0.56);
}

.item.active {
    background-color: white;
    color: black;
    font-weight: 700;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: default;
}

.slide-list .active-slide-list {
    background-color: white;
    color: #32425C;
}

.active-slide-list a {
    font-weight: 700;
    color: #32425C;
}

/* О компании */
.about{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

    width: 940px;
    margin: auto;

    margin-bottom: 112px;
}

.company-info {
    width: 540px;
}

.company-info ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-bottom: 18px;
}

.company-info ul li{
   margin-bottom: 10px;
}

.company-info ul li::before {
    content: "";
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 8px;;
    width: 24px;
    border: 1px solid #EE3643;
 }

.contacts {
    width: 300px;  
}

.contacts img {
    display: block;
    margin: 0px;
    padding: 0px;

    margin-bottom: 40px;
}

.map-link img:hover {
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.32);
}

.map-link img:active {
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.32);
}

.about-title {
    text-transform: uppercase;
    margin: 0px;
    
    font-size: 24px;
}

.about-company-list {
    list-style-type: none;
}

/* ФУТЕР */
/* Первый уровнь */
.footer-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.lvl-1 {
    margin: 0px;
    padding: 0px;
    width: 940px;
    margin: auto;
}


.footer-color-wrapper {
    background-color: #32425C;
    padding-bottom: 56px;
}

.lvl-1-top-wrapper {
    display: flex;
    width: 940px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer-nav {
    display: flex;
    flex-basis: auto;
}

.footer-nav .item {
    margin: 0px;
    padding: 0px;
    margin-right: 48px;
    margin-bottom: 8px;

    display: flex;
    align-items: flex-end;
}

.footer-nav li:last-child {
    margin-right: 0px;
}

.lvl-2-top-wrapper {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 940px;
    justify-content: space-between;
}

.footer-special {
    display: flex;
    flex-basis: auto;  

    justify-content: space-between;
}

.footer-special .item {
    margin: 0px;
    padding: 0px;   

    display: flex;
    justify-content: flex-start;
    margin-right: 48px;
}

.footer-special li:last-child {
    margin-right: 0px;
}

.footer-special, .footer-nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-address {
    margin: 0px;
    padding: 0px;
    color: white;
}

.footer-special .nav-link {
    color: #FFD180;
}

/* Второй уровнь */
.lvl-2 {
    margin: 0px;
    padding: 0px;
    background-color: #293449;

    padding-top: 32px;
    padding-bottom: 32px;
}


.lvl-2-wrapper {
    width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    width: 200px;
}

.social li{
    margin-right: 16px;
}

.social li:hover{
    opacity: .56;
    cursor: pointer;
}

.social li:active{
    opacity: .32;

}

.lvl-2-wrapper p {
    margin: 0px;
    padding: 0px;
    color: white;

    width: 300px;
}

.lvl-2-wrapper .social {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.credentials {
    margin: 0px;
    width: 400px;
    padding: 0px;
    padding-left: 56px;
    box-sizing: border-box;

    list-style-type: none;
}

.credentials li {
    margin: 0px;
    padding: 0px;
    color: white;
}

.credentials a {
    margin: 0px;
    padding: 0px;
   
    text-decoration: none;
    color: #FFD180;
}

.footer-link-gold {
    color: #FFD180;
    text-decoration: none;
}

.footer-link-gold:hover {
    opacity: .56;
}

.footer-link-gold:active {
    opacity: .32;
}

.footer-link-white {
    color: #fff;
    text-decoration: none;
}

.footer-link-white:hover {
    opacity: .56;
}

.footer-link-white:active {
    opacity: .32;
}




/* ++++ КАТАЛОГ ++++ */
.main {
    margin: 0px;
    padding: 0px;
}

/* Меню в каталоге */
.catalog-wrapper {
    margin: 0px;
    padding: 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.catalog-wrapper li {
   display: flex;
}

.second-link {
    margin: 0px;
    padding: 0px;
    display: flex;
    position: relative;
    list-style-type: none;
    background-color: none;
    justify-content: flex-start;
}

.second-link a{
    margin: 0px;
    padding: 0px;
    background: none;
    position: relative;
    color: #32425C;

    padding-left: 24px;
    text-decoration: none;
}

.second-link a:hover {
    background: none;
    opacity: 0.64;
}

.second-link a:active {
    background: none;
    opacity: 0.32;
}

.link-divider::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100px;
    position: absolute;
    left: 110px;
    top: 18px;

    background-color:#32425C;
}

.logout-btn {
    margin-left: 2px;
    display: inline-block;
    background:none;
    border: none;
    height: 42px;
    width: 42px;
    background-color: white;
}

.logout-btn:hover {
    background-color: #D9E3E8;
    cursor: pointer;
}

.logout-btn:active {
    background-color: #D0DBE0;
}


/* Крошки */
.breadcumbs ul{
    margin: 0px;
    padding: 0px;
    position: relative;

    list-style-type:  none;
    display: flex;
    width: 940px;
    margin: auto;

    padding-top: 24px;
    padding-bottom: 24px;

}

.site-navigation-menu-wrapper.catalog-menu-wrapper {
    margin-bottom: 0px;
}

.breadcumbs a{
    margin: 0px;
    padding: 0px;

    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.breadcumbs li {
    padding-right: 42px;
}

.breadcumbs li::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 12px;


    bottom: 29px;
    background-image: url('img/divider-icn.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.breadcumbs-list li:last-child::after {
    background-image: none;
}

.breadcumbs-list a:hover {
    color: #EE3644;
}

.breadcumbs-list a:active {
   opacity: 0.64;
}


/* Заголовок */
.catalog-title-wrapper {
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 24px;

    background-color: #edf3f5;
}

/* Каталог */
.catalog-goods-wrapper {
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    /* justify-content: space-between; */
}

.catalog-list li.catalog-bottom {
    margin-bottom: 24px;
}

/* Фильтры */
.filters {
    margin: 0px;
    padding: 0px;
}

.filters .producers-list{
    margin: 0px;
    padding: 0px;
    width: 220px;
    list-style-type: none;
}

.filters fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
}

.filters legend {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: 700;
}

.title-filter {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    
    padding-left: 16px;
    margin-bottom: 24px;

    background-color: #F7F3EC;
}

/* Фильтрация по цене */
.price-wrapper {
    margin: 0px;
    padding: 0px;

    border: none;
}

.range-filter {
    width: 220px;
}

.range-controls {
    height: 41px;
    padding-top: 39px;
  
    background-color: #F7F3EC;
    margin-bottom: 16px;
    margin-top: 8px;
    padding-right: 24px;
    padding-left: 24px;

    position: relative;
}


.range-controls .scale {
    height: 4px;
  
    background: #E1D7C8;
  }

.range-controls .bar {
    width: 70%;
    height: 4px;
  
    background: #EE3643;
}

.range-controls .toggle {
    position: absolute;
    top: 29px;
    left: 0;

    width: 6px;
    height: 6px;
    padding: 0px;

    border: 8px solid #fff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;

    cursor: pointer;
}

.toggle:hover {
    background-color: #EE3643;
    box-shadow: 0 6px 5px 0 #cfcfcf;
}

.toggle:active {
    background-color: #EE3643;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.price-controls {
    position: relative;
    display: flex;
    margin: 0px;
    padding: 0px;

    justify-content: space-between; 
  }

.price-controls label {
    margin: 0px;
    padding: 0px;

    font-size: 16px;
    text-transform: uppercase;
  }

.price-controls input {
    width: 72px;

    font-family: 'PT Sans', sans-serif; 
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: black;

    border: none;
    background: #F7F3EC;

    margin-bottom: 40px;
  }

.price-controls input:hover {
    background-color: #EAE3D8;
}

.max-price::after {
    content: "";
    position: absolute;
    left: 0px;

    width: 220px;
    height: 1px;
    background-color:  #D7D7D7;
    bottom: 16px;
  }

.min-price::after {
    content: "—";
    top: 5px;
    left: 102px;
    
    
    position: absolute;

  }

.max-price {
    text-align: right;
  }

.range-controls .toggle-max {
    left: 130px;
}

.range-controls .toggle-min {
    left: 10px;
}

.producers-list {
    line-height: 40px;
}

.producers-list label {
    padding: 8px;
    cursor: pointer;
    line-height: 40px;
}

.producers-list li{
    position: relative;
    padding-left: 32px;
}

.producers a:hover {
    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.32);
}


.producers a:active {
    box-shadow: 0 4px 10px 0 rgba(41,52,73,0.32);
}

.producers a:active img{
   opacity: 0.8;
}

.producer-wrapper {
    position: relative;
}

.producer-wrapper::after {
    content: "";
    position: absolute;
    display: block;
    width: 188px;
    height: 1px;
    background-color:  #D7D7D7;
    bottom: 16px;
}

.producers-list label::before {
    content: "";
    position: absolute;
    background-image: url('img/checkbox-radio/checkbox-off.svg');
    background-repeat: no-repeat;
    bottom: 8px;
    left: 0px;
    width: 26px;
    height: 24px;
}

.producers input:checked + label::before{
    background-image: url('img/checkbox-radio/checkbox-on.svg'); 
}

.producers-list input:hover + label::before{
    opacity: 0.64;
}

.producers-list label:hover {
    color: #EE3643;
}

.producers-list label:active {
    opacity: 0.64;
}

.power label::before {
    content: "";
    position: absolute;
    background-image: url('img/checkbox-radio/radio-off.svg');
    background-repeat: no-repeat;
    bottom: 8px;
    left: 0px;
    width: 25px;
    height: 25px;
}

.power input:checked + label::before{
    background-image: url('img/checkbox-radio/radio-on.svg'); 
}




.producers-list li:last-child {
    margin-bottom: 32px;
}

.catalog-title {
    background-color: #F2F6F8;
    font-weight: 400;
    text-transform: uppercase;
}

.filter-button {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;

    color: inherit;
    border: 1px solid #E5E5E5;

    flex-wrap: wrap;
    
    text-decoration: none;
    color: black;

    user-select: none;
}

.filter-button:hover  {
    background-color: #D9E3E8;
    border: 1px solid #D9E3E8;
}

.filter-button:active  {
    background-color: #D0DBE0;
    color: rgba(0,0,0,0.64);
}


/* Сортировка */
.sorted-by {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
   
    background-color: #F7F3EC;
    margin-bottom: 24px;
    padding-left: 16px;
}

.sorted-by p {
    margin: 0px;
    padding: 0px;
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    margin-right: 8px;
}



.sort-list {
    display: flex;
    font-family: 'Cuprum', sans-serif;
    justify-content: flex-start;
    align-items: center;
    width: 464px;
}

.sort-list li {
    margin-right: 16px;
}

.sorted-by ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sort-list a {
    color: #ACA9A4;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed #EE3643;
}

.sort-list .item a:hover {
    color:#EE3643;
    border-bottom: 1px solid #EE3643;
}

.sort-list .item a:active{
    opacity: 0.64;
}

.sort-list .active a{
    color:#EE3643;
    border-bottom: 1px solid #EE3643;
}



.sort-list li {
    position: relative;
}

.sort-icon-wrapper {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    display: flex;

    width: 80px;
}

.sort-icon-wrapper li {
    margin: 0px;
    padding: 0px;
}

.sort-icon {
    margin: 0px;
    padding: 0px;
    margin-right: 48px;
}

.sort-icon label {
    margin: 0px;
    padding: 0px;

    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 12px;
}

.sort-icon .sort-up::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;

    background-image: url("img/checkbox-radio/arrow-up.svg");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

.sort-icon .sort-down::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;

    background-image: url("img/checkbox-radio/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

.sort-icon .sort-down:hover::after {
   background-color: #EAE3D8;
   background-image: url("img/checkbox-radio/arrow-down-red.svg");
}

.sort-icon .sort-up:hover::after {
   background-color: #EAE3D8;
   background-image: url("img/checkbox-radio/arrow-up-red.svg");
}

.sort-icon .sort-down:active::after {
    background-color: #EAE3D8;
    opacity: 0.64;
    background-image: url("img/checkbox-radio/arrow-down-red.svg");
 }
 
 .sort-icon .sort-up:active::after {
    background-color: #EAE3D8;
    background-image: url("img/checkbox-radio/arrow-up-red.svg");
    opacity: 0.64;
 }


/* Карточка товара */
.catalog-list {
    margin: 0px;
    padding: 0px;
    
    list-style-type: none;
    margin-bottom: 24px;
}

.catalog-list a {
    text-decoration: none;
}

.catalog-list .sale {
    color: #999999;
    text-decoration: line-through;
}

.catalog-list .item {
    margin: 0px;
    padding: 0px;
    width: 220px;
    border: 1px solid #D7D7D7;
}

li.inner-card {
    margin-right: 20px;
    margin-bottom: 20px;
}

li.inner-card:nth-child(3n) {
    margin-right: 0px;
}

/* Пагинация */
.pagination-list {
    margin: 0px;
    padding: 0px;
    margin-bottom: 56px;   

    display: flex;
    justify-content: flex-start;
}

.pagination-list li {
    margin-right: 8px;

    list-style-type: none;
}

.pag-button {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;

    color: inherit;
    border: 1px solid #E5E5E5;

    flex-wrap: wrap;
    
    text-decoration: none;
    color: black;

    user-select: none;
}

.pag-button.active {
    background-color: #EE3643;
    border: 1px solid  #EE3643;
    color: white;
    font-weight: 700;
}

.pagination-list a:hover  {
    background-color: #D9E3E8;
    border: 1px solid #D9E3E8;
}

.pagination-list a:active  {
    background-color: #D0DBE0;
    color: rgba(0,0,0,0.64);
}

/* Seo_Text */
.seo-wrap {
    font-family: 'PT Sans', sans-serif; 
    background-color: #F2F6F8;
}

.seo-title {
    font-size: 24px;
    text-transform: uppercase;
}

.seo-text-wrap {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 940px;
    margin: auto;
    flex-direction: column;
    margin: auto;
    padding-bottom: 56px;
    padding-top: 32px;
}

.seo-text-wrap div {
    display: flex;
    justify-content: flex-start;
}

.seo-wrap p {
    margin: 0px;
    padding: 0px;
    margin-right: 32px;

    width: 440px;

    box-sizing: content-box;
}


/* Окно сообщения */
.popup-msg {
    display: flex;
    margin:auto;
    text-align:center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;

    top: 0px;
    right: 50%;
    width: 320px;
}

.popup-msg .wrapper {
    width: 620px;
    text-align:left;
    margin:auto;
    box-sizing: border-box;
    position: relative;

    background: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.inputs-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 48px;
    padding-bottom: 32px;
    
    box-sizing: border-box;
}

.close-btn-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-bottom: 16px;
}

.close-btn {
    width: 32px;
    height: 32px;

    border: none;

    text-align: right;

    cursor: pointer;
    background: none;
}

.close-btn::before,
.close-btn::after {
  content: "";

  position: absolute;
  right: 4px;
  top: 15px;

  width: 24px;
  height: 2px;

  background-color: #EE3643;
}

.close-btn::before {
    transform: rotate(45deg);
  }
  
  .close-btn::after {
    transform: rotate(-45deg);
  }

.popup-msg .wrapper::before {
    content: "";
    display: block;
    position: absolute;

    width:100%;
    height: 4px;

    left: 0px;
    top: 0px;

    background-color: #EE3643;
}

.send-btn {
    display: flex;
    flex-basis: auto;

    padding-top:32px;
    padding-bottom: 32px;
    padding-left: 80px;
    padding-right: 80px;

    justify-content: flex-start;
    background-color: #edf3f5;
}

.send-btn button {
    cursor: pointer;
}

.popup-msg .wrapper input{
    width: 220px;
    box-sizing: border-box;

    font-family: 'PT Sans', sans-serif; 
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: black;

    padding-left: 8px;
    padding-right: 8px;

    margin-top: 4px;

    border: 1px solid black;
}

.popup-msg .wrapper .inputs {
    display: flex;
    margin-bottom: 32px;
}

.text-wrapper {
    margin: 0px;
    padding: 0px;
}

.text-wrapper textarea{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    margin-top: 4px;
    border: 1px solid black;
    padding-top: 16px;
    padding-left: 8px;
    padding-bottom: 16px;

    resize: vertical;
    width: 460px;
    min-height: 180px;
}

input.message-field:hover,
.message-field:hover {
    border: 1px solid  #EE3643;
}




/* Окно карты */
.map-wrapper {
    display: flex;
    width: 940px;
    margin: auto;
    position: relative;
}

.work-hours {
    position: absolute;

    width: 200px;
    padding: 24px;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color:rgba(255,255,255, 1);
    
    top: 56px;
    left: 32px;
    
    z-index: 9999;
}

.work-hours a {
    text-align: center;
    width: 136px;

    cursor: pointer;
}

.map {
    display: flex;
    margin: auto;
}

.map img{
    margin: 0px;
    padding: 0px;
    width: 940px;
    height: 564px;

    overflow: hidden;
}

.btn-close-map {
    position: absolute;
    z-index: 999;

    right: 1px;

    width: 40px;
    height: 40px;
    margin-top: 56px;
    margin-right: 32px;
    background-color:rgba(255,255,255, 1);
 
    border: none;
    cursor: pointer;
}

.btn-close-map::before,
.btn-close-map::after {
  content: "";

  position: absolute;

  left: 7px;
  top: 18px;
  width: 24px;
  height: 2px;

  background-color: #EE3643;

  cursor: pointer;
}

.btn-close-map::before {
    transform: rotate(45deg);
  }
  
.btn-close-map::after {
    transform: rotate(-45deg);
  }

.btn-close-map .wrapper::before {
    content: "";
    display: block;
    position: absolute;

    width:100%;
    height: 4px;

    left: 0px;
    top: 0px;

    background-color: #EE3643;
}

.btn-close-map:hover, 
.close-btn:hover {
    background-color: #D9E3E8;
}

.btn-close-map:active,
.close-btn:active {
    background-color: #D0DBE0;
}


/* Вспомогательные классы */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

  .overlay-modal {
    display: flex;
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 0px;
    background:rgba(0,0,0 ,0.64 );
    height:100%;
    width:100%;
  }

  .hidden {
      display: none;
  }